name: CI - Go Microservices

on:
  push:
    branches: [ main ]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: admin
          MONGO_INITDB_ROOT_PASSWORD: admin123
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ ping: 1 })'"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    strategy:
      matrix:
        service: [create, read, update, delete]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Wait for MongoDB
        run: |
          echo "Waiting for MongoDB..."
          for i in {1..15}; do
            nc -z localhost 27017 && echo "MongoDB is ready!" && break
            sleep 3
          done

      - name: Run tests
        working-directory: ./services/${{ matrix.service }}
        env:
          MONGO_URI: mongodb://admin:admin123@localhost:27017/
        run: go test ./... -v -cover


  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: docker compose build

      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg lsb-release
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install -y trivy


      - name: Scan images with Trivy
        run: |
          trivy image --exit-code 0 --severity HIGH,CRITICAL parcial3-microservicios-create
          trivy image --exit-code 0 --severity HIGH,CRITICAL parcial3-microservicios-read
          trivy image --exit-code 0 --severity HIGH,CRITICAL parcial3-microservicios-update
          trivy image --exit-code 0 --severity HIGH,CRITICAL parcial3-microservicios-delete



  dockerhub:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker images
        run: |
          docker tag parcial3-microservicios-create camilodur/create:latest
          docker tag parcial3-microservicios-read camilodur/read:latest
          docker tag parcial3-microservicios-update camilodur/update:latest
          docker tag parcial3-microservicios-delete camilodur/delete:latest

          docker push camilodur/create:latest
          docker push camilodur/read:latest
          docker push camilodur/update:latest
          docker push camilodur/delete:latest


  release:
    needs: dockerhub
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
